


body {
    background-image: url(images/background1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    font-family:sans-serif;
    font-size: 20px;
    color: white;   
    text-decoration: none;
            
}

section {
overflow: auto;
}

.centre-section{
    background-color: rgba(0,0,0,0.4);
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    
}

.group {
    padding-top: 30%;
}


div.btn {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

div.btn p {
    width: 80%;
    padding: 10px;
    margin: 7px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

.noDecoration, a:link, a:visited {
    text-decoration: none;
}

div.btn p:hover {
    background-color: rgba(255,255,255,0.2);
}

nav {
    background-color:white;
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:75px;
    line-height:75px;
    text-align:right;

    box-shadow: 0px 5px 10px #888888;
    
}

nav a {
    margin-right:25px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}


nav a:hover{
 color:tomato;   
}

